/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  

   ValKiriann Styles
   
*/

@font-face {
    font-family: 'the_west_gateregular';
    src: url('../fonts/the_west_gate-webfont.woff2') format('woff2'),
         url('../fonts/the_west_gate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p {
	font-family: 'Raleway', sans-serif;
}

body {
	background-image: url("../img/pattern.svg");
}
header {
	background-color:white;
	padding: 3%;
}
h2{
	font-family: 'the_west_gateregular', 'sans-serif';
	font-size:4rem;
	text-align: center;
}
main {
	padding: 3% 5%;
}
.logo {
	max-width: 100%;
	width: 200px;
	margin:0 auto;
	text-align: center;
	display: block;
}
.accordionContainer {
	max-width: 60%;
	margin: 3% auto;
	box-shadow: 0 0 0px 4px rgba(0,0,0,0.05);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2.5rem;
    transition: 0.4s;
    font-family: 'the_west_gateregular', 'sans-serif';
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 2.5rem;
    color: #777;
    opacity:0.5;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#addContactForm, #empty-msg {
	padding: 3%;
}
.empty-msg {
	text-align: center;
}
label,input, .error {
	display: block;
	text-align: left;
	margin: 0 auto;
	font-family:  "Raleway", "sans-serif";
	color:#777;
	width: 60%;
	padding: 5px 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b5b5b5;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b5b5b5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b5b5b5;
}
label {
	text-align: left;
    
}
input {
	margin: 5px auto 10px;
	font-size:1.5rem;
	border-bottom: solid 1px #b5b5b5;
}
input[type="submit"] {
	border:solid 1px #b5b5b5;
	padding:10px 20px;
	margin: 40px auto 20px;
	transition: padding 0.1s ease-out;
}
input[type="submit"]:hover {
	border:solid 1px #b5b5b5;
	padding:15px 30px;
	background-color:#b5b5b5;
	color:white;
	transition: padding 0.1s ease-out;
}
input[type="submit"]:active {
	border:solid 1px #b5b5b5;
	padding:10px 20px;
	margin: 40px auto 20px;
	background-color:#444;
}

.error {
	margin-top: -10px;
    font-size: 0.7rem;
    margin-bottom: 5px;
    color: #E3654B;
    opacity: 0;
    min-height: 21px;
}
.visible {
	opacity:1;
}
.wrong{
	border-bottom:solid 2px #E3654B;
}
.divOfBros {
	display: none;
}
.infoModal {
	display: none;
}